<form class="example-form" [formGroup]="inscripcionesForms">
  <h1 [appFontSize]="20">Módulo de inscripciones</h1>
  <div class="grid divCurso">
    <!-- Nombre del curso -->
    <mat-form-field class="w-4" appearance="fill">
      <mat-label>Ingrese nombre del curso</mat-label>
      <input
        matInput
        aria-label="Nombre del curso"
        [matAutocomplete]="curso"
        [formControl]="nombreCursoControl"
      />
      <mat-autocomplete #curso="matAutocomplete">
        <mat-option
          *ngFor="let curso of filteredCursos | async"
          [value]="curso.nombreCurso"
          (click)="guardarCurso(curso)"
        >
          <img alt="" class="example-option-img" height="25" />
          <small> {{ curso.nombreCurso }}</small>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <!-- Nombre del alumno -->
    <mat-form-field class="w-4" appearance="fill">
      <mat-label>Ingrese nombre del alumno</mat-label>
      <input
        matInput
        aria-label="Nombre del alumno"
        [matAutocomplete]="alumno"
        [formControl]="nombreAlumnoControl"
      />
      <mat-autocomplete #alumno="matAutocomplete">
        <mat-option
          *ngFor="let alumno of filteredAlumnos | async"
          [value]="alumno.apellido"
          (click)="guardarAlumno(alumno)"
        >
          <img alt="" class="example-option-img" height="25" />
          <small> {{ alumno | nombreCompleto }}</small>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button
      class="botonGuardar"
      mat-flat-button
      (click)="asignarCurso()"
      color="primary"
    >
      Inscribir
    </button>
  </div>
</form>
<mat-card>
  <mat-card-content>
    <h1 [appFontSize]="20">Listado de inscripciones</h1>
    <mat-form-field class="w-full" appearance="fill">
      <mat-label>Buscar</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ingrese un valor"
        #input
      />
    </mat-form-field>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSourceInscripcion">
        <!-- nombreCurso Column -->
        <ng-container matColumnDef="nombreCurso">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Nombre del curso
          </th>
          <td mat-cell *matCellDef="let inscripcion">
            {{ inscripcion.nombreCurso }}
          </td>
        </ng-container>

        <!-- fechaInicioCurso Column -->
        <ng-container matColumnDef="fechaInicioCurso">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Fecha de inicio
          </th>
          <td mat-cell *matCellDef="let inscripcion">
            {{ inscripcion.fechaInicioCurso | date }}
          </td>
        </ng-container>

        <!-- fechaFinCurso Column -->
        <ng-container matColumnDef="fechaFinCurso">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Fecha de fin
          </th>
          <td mat-cell *matCellDef="let inscripcion">
            {{ inscripcion.fechaFinCurso | date }}
          </td>
        </ng-container>

        <!-- nombreCompleto Column -->
        <ng-container matColumnDef="nombreCompleto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Nombre completo
          </th>
          <td mat-cell *matCellDef="let inscripcion">
            {{ inscripcion.apellidoAlumno + ", " + inscripcion.nombreAlumno }}
          </td>
        </ng-container>

        <!-- email Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let inscripcion">
            {{ inscripcion.emailAlumno }}
          </td>
        </ng-container>

        <!-- numeroDocumento Column -->
        <ng-container matColumnDef="numeroDocumento">
          <th mat-header-cell *matHeaderCellDef>Número de documento</th>
          <td mat-cell *matCellDef="let inscripcion">
            {{ inscripcion.numeroDocumentoAlumno }}
          </td>
        </ng-container>

        <!-- opciones Delete -->
        <ng-container matColumnDef="opcionesDelete">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let alumno">
            <button
              mat-icon-button
              class="opciones-icon-delete"
              aria-label="Example icon-button with heart icon"
              (click)="eliminar(alumno)"
              value="{{ alumno.numeroDocumento }}"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let alumno; columns: displayedColumns"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            No se encontraron datos que contengan
          </td>
        </tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Selecciona la página"
      >
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
