<div class="mb-3"><h1 [appFontSize]="20">Listado de alumnos</h1></div>

<button
  mat-flat-button
  color="primary"
  (click)="abrirABMAlumnos()"
  class="agregar-alumno"
>
  <mat-icon>add</mat-icon>
  Agregar alumno
</button>
<mat-form-field>
  <mat-label>Buscar</mat-label>
  <input
    matInput
    (keyup)="applyFilter($event)"
    placeholder="Ingrese un valor"
    #input
  />
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <!-- nombreCompleto Column -->
    <ng-container matColumnDef="nombreCompleto">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre completo</th>
      <td mat-cell *matCellDef="let alumno">{{ alumno | nombreCompleto }}</td>
    </ng-container>

    <!-- email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let alumno">{{ alumno.email }}</td>
    </ng-container>

    <!-- numeroDocumento Column -->
    <ng-container matColumnDef="numeroDocumento">
      <th mat-header-cell *matHeaderCellDef>Número de documento</th>
      <td mat-cell *matCellDef="let alumno">{{ alumno.numeroDocumento }}</td>
    </ng-container>

    <!-- fechaDeAlta Column -->
    <ng-container matColumnDef="fechaDeAlta">
      <th mat-header-cell *matHeaderCellDef>Fecha de alta</th>
      <td mat-cell *matCellDef="let alumno">
        {{ alumno.fechaDeAlta | date : "dd/MM/YYYY" }}
      </td>
    </ng-container>

    <!-- opciones Delete -->
    <ng-container matColumnDef="opcionesDelete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let alumno">
        <button
          mat-icon-button
          class="opciones-icon-delete"
          aria-label="Example icon-button with heart icon"
          (click)="eliminar(alumno)"
          value="{{ alumno.numeroDocumento }}"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- opciones Edit -->
    <ng-container matColumnDef="opcionesEdit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let alumno">
        <button
          mat-icon-button
          class="opciones-icon-delete"
          aria-label="Example icon-button with heart icon"
          (click)="editar(alumno)"    
        >
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- opciones Detalle -->
    <ng-container matColumnDef="opcionesDetalle">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let alumno">
        <button
          mat-icon-button
          class="opciones-icon-delete"
          aria-label="Example icon-button with heart icon"
          (click)="detalle(alumno.numeroDocumento)"
          value="{{ alumno.numeroDocumento }}"
        >
          <mat-icon>preview</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let alumno; columns: displayedColumns"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        No se encontraron datos que contengan "{{ input.value }}"
      </td>
    </tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Selecciona la página"
  >
  </mat-paginator>
</div>
